@font-face {
	font-family : "Montserrat Bold";
	src : url("C:/fonts/Montserrat-Bold.ttf");
}
@font-face {
	font-family : "Montserrat Regular";
	src : url("C:/fonts/Montserrat-Regular.ttf");
}
body {
    background-image: url('C:/images/tic-tac-toe-backgrounds-wallpapers.jpg');
    margin : 0;
    font-family: 'Montserrat Regular';
}
#gradient {
    height : 100%;
    width : 100%;
    background-color: rgba(0,0,0,0.7);
    position : absolute;
}

#container {
    height : 0px;
    width: 350px;
    margin : 0 auto;
    display : flex;
    justify-content: space-around;
    flex-wrap : wrap;
    position : relative;
    top : 10%;
    left : 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
    box-shadow : 2px 2px 40px grey;
}

#container > div {
    width : 33.33%;
    box-sizing: border-box;
    border : 1px solid black;
    background-color : white;
    height : 117px;
    text-align : center;
    position : relative;
}
#container>.zero,#container>.cross {
    color : black;
    line-height :117px;
    font-size : 80px;
}


.zero::before {
    content:'O';
    
}
.cross::before {
    content:'X';
}
h2 {
    padding-top : 30px;
    text-align : center;
    background : rgba(0,0,0,0.7);
    font-size : 30px;
    margin : 0 auto;
    color: rgb(205, 224, 209);
}
#container > #end {
    width : 100%;
    height: 0;
    background: rgba(8, 8, 8, 0.93);
    position : absolute;
    z-index : 2;
    top : 0 ;
    left : 0;
    overflow : hidden;
    transition : height 1s ease-in-out;
    
}

#container h2{
    color : #ffffff;
    font-family : Montserrat Bold;
    font-size: 28px;
    text-align : center; 
    padding:0;
    background : rgba(0,0,0,0);
    margin-top : 125px;
}

#container>#end>.button {
	background: #837D6A;
	padding: 18px 30px;
	display: block;
	color: #ffffff;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family: Montserrat Bold;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	margin: 20px auto;
	font-weight : 500;
	transition : all 0.5s ease-out;
}
#container>#end>.button:hover {
	background : #2F2E2B;
}
.vertical {
    height : 110%;
    width : 2px;
    background: red;
}
#container > div > div{
    position : absolute;
    margin : 0 auto;
}